h1{
    color: rgb(0, 61, 175);
}
h2{
    color:rgb(11, 197, 36)
}
h3{
    color:rgb(221, 3, 3);
}
h4{
    color:rgb(223, 226, 6);
}
*{
    border: solid; 
}

.header{
    background-color: rgb(0, 174, 255);
    display: flex;
    justify-content: space-between;
}

.menu{
    background-color: rgb(255, 0, 0) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.footer{
    background-color: rgb(175, 243, 243);
    display: flex;
    justify-content: flex-end;
}

.item{
    background-color:rgb(251, 249, 146) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{
    text-align: center;
}